/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-outline-style: solid;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-red-500: #fb2c36;
    --color-yellow-100: #fef9c2;
    --color-yellow-200: #fff085;
    --color-slate-100: #f1f5f9;
    --color-slate-300: #cad5e2;
    --color-slate-400: #90a1b9;
    --color-slate-700: #314158;
    --color-slate-800: #1d293d;
    --color-slate-900: #0f172b;
    --color-white: #fff;
    --spacing: .25rem;
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --radius-md: .375rem;
    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }

  @supports (color: lab(0% 0 0)) {
    :root, :host {
      --color-red-500: lab(55.4814% 75.0732 48.8528);
      --color-yellow-100: lab(97.3564% -4.51407 27.344);
      --color-yellow-200: lab(94.3433% -5.00426 52.9663);
      --color-slate-100: lab(96.286% -.852466 -2.46847);
      --color-slate-300: lab(84.7652% -1.94535 -7.93337);
      --color-slate-400: lab(65.5349% -2.25151 -14.5072);
      --color-slate-700: lab(26.9569% -1.47018 -15.6993);
      --color-slate-800: lab(16.132% -.318021 -14.6672);
      --color-slate-900: lab(7.78673% 1.82346 -15.0537);
    }
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .static {
    position: static;
  }

  .m-auto {
    margin: auto;
  }

  .my-5 {
    margin-block: calc(var(--spacing) * 5);
  }

  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }

  .mt-6 {
    margin-top: calc(var(--spacing) * 6);
  }

  .mt-7 {
    margin-top: calc(var(--spacing) * 7);
  }

  .mt-10 {
    margin-top: calc(var(--spacing) * 10);
  }

  .mr-3 {
    margin-right: calc(var(--spacing) * 3);
  }

  .mr-4 {
    margin-right: calc(var(--spacing) * 4);
  }

  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

  .mb-5 {
    margin-bottom: calc(var(--spacing) * 5);
  }

  .block {
    display: block;
  }

  .contents {
    display: contents;
  }

  .flex {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .table {
    display: table;
  }

  .size-5 {
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
  }

  .size-40 {
    width: calc(var(--spacing) * 40);
    height: calc(var(--spacing) * 40);
  }

  .h-full {
    height: 100%;
  }

  .h-screen {
    height: 100vh;
  }

  .w-6 {
    width: calc(var(--spacing) * 6);
  }

  .w-full {
    width: 100%;
  }

  .max-w-\[400px\] {
    max-width: 400px;
  }

  .max-w-\[1100px\] {
    max-width: 1100px;
  }

  .max-w-\[1440px\] {
    max-width: 1440px;
  }

  .max-w-screen {
    max-width: 100vw;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .appearance-auto {
    appearance: auto;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .items-stretch {
    align-items: stretch;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .rounded-4xl {
    border-radius: var(--radius-4xl);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .rounded-l-md {
    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
  }

  .rounded-r-md {
    border-top-right-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
  }

  .border-0 {
    border-style: var(--tw-border-style);
    border-width: 0;
  }

  .border-2 {
    border-style: var(--tw-border-style);
    border-width: 2px;
  }

  .border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }

  .border-red-500 {
    border-color: var(--color-red-500);
  }

  .border-slate-700 {
    border-color: var(--color-slate-700);
  }

  .bg-red-500 {
    background-color: var(--color-red-500);
  }

  .bg-slate-100 {
    background-color: var(--color-slate-100);
  }

  .bg-slate-800 {
    background-color: var(--color-slate-800);
  }

  .bg-slate-900 {
    background-color: var(--color-slate-900);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-yellow-200 {
    background-color: var(--color-yellow-200);
  }

  .p-4 {
    padding: calc(var(--spacing) * 4);
  }

  .p-5 {
    padding: calc(var(--spacing) * 5);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }

  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }

  .py-8 {
    padding-block: calc(var(--spacing) * 8);
  }

  .pt-1 {
    padding-top: calc(var(--spacing) * 1);
  }

  .text-center {
    text-align: center;
  }

  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .text-\[15px\] {
    font-size: 15px;
  }

  .text-\[16px\] {
    font-size: 16px;
  }

  .text-\[17px\] {
    font-size: 17px;
  }

  .text-\[18px\] {
    font-size: 18px;
  }

  .text-\[20px\] {
    font-size: 20px;
  }

  .text-\[22px\] {
    font-size: 22px;
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .text-red-500 {
    color: var(--color-red-500);
  }

  .text-slate-100 {
    color: var(--color-slate-100);
  }

  .text-slate-300 {
    color: var(--color-slate-300);
  }

  .text-slate-400 {
    color: var(--color-slate-400);
  }

  .text-slate-700 {
    color: var(--color-slate-700);
  }

  .text-slate-900 {
    color: var(--color-slate-900);
  }

  .text-white {
    color: var(--color-white);
  }

  .text-yellow-200 {
    color: var(--color-yellow-200);
  }

  .underline {
    text-decoration-line: underline;
  }

  .underline-offset-2 {
    text-underline-offset: 2px;
  }

  .accent-yellow-200 {
    accent-color: var(--color-yellow-200);
  }

  .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }

  .outline-0 {
    outline-style: var(--tw-outline-style);
    outline-width: 0;
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .group-has-focus\:bg-yellow-200:is(:where(.group):has(:focus) *) {
    background-color: var(--color-yellow-200);
  }

  @media (hover: hover) {
    .hover\:border-slate-900:hover {
      border-color: var(--color-slate-900);
    }
  }

  @media (hover: hover) {
    .hover\:border-yellow-200:hover {
      border-color: var(--color-yellow-200);
    }
  }

  @media (hover: hover) {
    .hover\:bg-yellow-100:hover {
      background-color: var(--color-yellow-100);
    }
  }

  @media (hover: hover) {
    .hover\:text-slate-900:hover {
      color: var(--color-slate-900);
    }
  }

  .has-checked\:border-yellow-200:has(:checked) {
    border-color: var(--color-yellow-200);
  }

  .has-checked\:bg-yellow-200\/20:has(:checked) {
    background-color: #fff08533;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .has-checked\:bg-yellow-200\/20:has(:checked) {
      background-color: color-mix(in oklab, var(--color-yellow-200) 20%, transparent);
    }
  }

  .has-focus\:border-yellow-200:has(:focus) {
    border-color: var(--color-yellow-200);
  }

  .has-focus\:bg-yellow-200\/20:has(:focus) {
    background-color: #fff08533;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .has-focus\:bg-yellow-200\/20:has(:focus) {
      background-color: color-mix(in oklab, var(--color-yellow-200) 20%, transparent);
    }
  }

  @media (min-width: 48rem) {
    .md\:m-0 {
      margin: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 48rem) {
    .md\:mb-3 {
      margin-bottom: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 48rem) {
    .md\:mb-8 {
      margin-bottom: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:size-54 {
      width: calc(var(--spacing) * 54);
      height: calc(var(--spacing) * 54);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[50\%\] {
      width: 50%;
    }
  }

  @media (min-width: 48rem) {
    .md\:max-w-\[350px\] {
      max-width: 350px;
    }
  }

  @media (min-width: 48rem) {
    .md\:max-w-full {
      max-width: 100%;
    }
  }

  @media (min-width: 48rem) {
    .md\:flex-row {
      flex-direction: row;
    }
  }

  @media (min-width: 48rem) {
    .md\:items-center {
      align-items: center;
    }
  }

  @media (min-width: 48rem) {
    .md\:justify-center {
      justify-content: center;
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-0 {
      gap: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-3xl {
      border-radius: var(--radius-3xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-tl-none {
      border-top-left-radius: 0;
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-bl-\[90px\] {
      border-bottom-left-radius: 90px;
    }
  }

  @media (min-width: 48rem) {
    .md\:p-5 {
      padding: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 48rem) {
    .md\:p-10 {
      padding: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:py-8 {
      padding-block: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[16px\] {
      font-size: 16px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[17px\] {
      font-size: 17px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[18px\] {
      font-size: 18px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[20px\] {
      font-size: 20px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[22px\] {
      font-size: 22px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[23px\] {
      font-size: 23px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[27px\] {
      font-size: 27px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[25px\] {
      font-size: 25px;
    }
  }

  input[type="number"].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"].no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"].no-spinner {
    -moz-appearance: textfield;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #e3f3fd;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans, sans-serif;
}

:root {
  --color-yellow-200: #d7da2f;
  --color-red-500: #d73328;
  --color-white: #fff;
  --color-slate-100: #e3f3fd;
  --color-slate-300: #9abed5;
  --color-slate-500: #6b94a8;
  --color-slate-700: #4e6e7e;
  --color-slate-900: #122f3f;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

/*# sourceMappingURL=src_app_globals_91e4631d.css.map*/